@model Aluno
@{
    ViewData["Title"] = "Editar Aluno";
}
<h1>Editar Aluno: </h1>

<div asp-validation-summary="All" style="color: red"></div>
<form asp-action="Edit" method="post">

    <label asp-for="AlunoId"></label>
    <input asp-for="@Model.AlunoId" disabled />
    <span asp-validation-for="AlunoId"></span>
    <br>
    <label asp-for="PrimeiroNome"></label>
    <input asp-for="PrimeiroNome" />
    <span asp-validation-for="PrimeiroNome"></span>
    <br>
    <label asp-for="SegundoNome"></label>
    <input asp-for="SegundoNome" />
    <span asp-validation-for="SegundoNome"></span>
    <br>
    <label asp-for="Sobrenome"></label>
    <input asp-for="Sobrenome" />
    <span asp-validation-for="Sobrenome"></span>
    <br>
    <label asp-for="NumeroTelefone"></label>
    <input asp-for="NumeroTelefone" />
    <span asp-validation-for="NumeroTelefone"></span>
    <br>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br>
    <label asp-for="DataNascimento"></label>
    <input asp-for="DataNascimento" />
    <span asp-validation-for="DataNascimento"></span>
    <br>
    <br/>
    
    <input type="submit" asp-route-id="@Model.AlunoId" value="Save changes" />
    <input type="button" onclick="history.back()" value="Cancel">
</form>