@model Aluno

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Instructor</title>
</head>

<body>
    <h1>Edit an Instructor Profile</h1>

    <div asp-validation-summary="All" style="color: red"></div>
    <form asp-action="Edit" method="post">
        <input asp-for="@Model.InstructorId" type="hidden" />
        @*needed so the InstructorId is sent to the Edit(POST)*@

        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
        <br>
        <label asp-for="IsTenured"></label>
        <input asp-for="IsTenured" />
        <span asp-validation-for="IsTenured"></span>
        <br>
        <label asp-for="HiringDate"></label>
        <input asp-for="HiringDate" />
        <span asp-validation-for="HiringDate"></span>
        <br>
        <label asp-for="Rank"></label>
        <select asp-for="Rank" asp-items="@Html.GetEnumSelectList(typeof(Ranks))"></select>
        <br>
        <br />

        <input type="submit" value="Save changes" />
        <input type="button" onclick="history.back()" value="Cancel">
    </form>
</body>

</html>